[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/florence.desktop]
row=4
col=0

[/root/Desktop/xfce-terminal.desktop]
row=3
col=0

[/root/Desktop/firefox.desktop]
row=5
col=0

[/root/Desktop/INFO]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

